.navbar{
    position: fixed;
    display: block;
    width: 100%;
    top: 0;
    background-color: #00000055;
    z-index: 10000;
    
}

.navbar li{
    cursor:default;
    padding: 6pt;
    display: inline-block;
    text-indent: 30px;
}
.navbar a{
    color: aliceblue;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
    text-decoration: none;
    text-shadow:none;
}