#portfolio hr{
    margin: 0;
}
#portfolio{
    color: #95ff21;
    text-shadow: 0 0 10px #95ff21;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt; 
    font-weight: 400;

    overflow: hidden;
    padding-bottom: 64px;
}

#portfolio h1{
    font-weight: 400;
    font-size: 30pt; 
    text-indent: 13%;
    margin: 26pt 0 10pt 0;
}
#portfolio h1::before{
    content:"→";
    padding-right: 20px;
}


.image_list{
    
    text-shadow: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style-type: none;
    
    background:linear-gradient(to left, #2f2c4f50, #2f2c4f12);
    
    outline: 5px solid #2f2c4f50;
    outline-offset: -5px;
}
.image_list li{
    /*overflow: hidden;*/
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: #1b1a28;
}
.image_list li>div{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#portfolio .preview{
    object-fit: contain;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

/*.image_list li>div>img,
.portfolio_description>img
{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}*/

.image_list li video{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#portfolio .image_list .open_button
{
    border-radius: 8px;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 5px;
    right: 3px;
    display: block;
    padding: 3px;
    box-shadow: #2d4094  0px 3px;

    background-color: #528ac5;
    background-image: url("../images/OpenWith.png");
    background-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
}

.portfolio_description{
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 35px #4aaeff80;
    background-color: #1b1a28;
    contain:none;
}
.portfolio_description:hover{
    transition: all 0.4s;
    width: 103%;
    height: 103%;
}
.portfolio_description p{
    text-align: center;
    text-shadow: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.portfolio_description .text,
.portfolio_description .title{
    margin: 0 calc(50% - 125px);
    position: absolute;
    width: 250px;
}
.portfolio_description .text{
    bottom: 5%;
    font-size: 14pt;
    font-weight: 700;
    text-shadow:inherit;
}
.portfolio_description .title{
    top: 5%;
    font-size: 20pt;
    font-weight: bold;
    text-shadow:inherit;
}

.pixelated{
    image-rendering: pixelated;
}



#catanim{
    position: relative;
    z-index: 10;
    top: -46px;
    left: 10%;
}
#catanim.hidden{
    display: none;
}
#portfolio .catanim{
    position: relative;
    transform: scale(4);
    top: -13px;
    left: 10%;
}
#portfolio .catanim_base{
    position: absolute;
    z-index: 10;
    width: 100%;
}


.portfolio_description.hidden .links_block{
    top: 0%;
    transition: all 0.5s;
}
.portfolio_description .links_block{
    z-index: -1;
    height: auto;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: #1b1a28;
    transform: translate(-50%, 0%);
    transition: all 0.5s;

    width: calc(100% - 30px);
    padding: 10px;
    border-radius: 0 0 15px 15px;
}
.portfolio_description .links_block a,
.portfolio_description .links_block a:visited{
    color: #528ac5;
    display: block;
    line-height: 38px;
    height: 38px;
}
.portfolio_description .links_block a>p{
    display: inline-block;
    transform: translate(0%, -50%);
    top: 25%;
    position: relative;
    white-space:nowrap;
    text-decoration:underline;
}
.portfolio_description .links_block img{
    height: 32px;
    display: inline-block;
    margin-right: 8px;
}
.portfolio_description .links_block>div{
    text-align: center;
}


.image_list li .default,
.image_list li .default a:visited{
    color: #528ac5;
    text-shadow: none;
}
.image_list li .project,
.image_list li .project a:visited{
    color: white;
    text-shadow: 
        0 0 6px black,
        0 0 6px black,
        1px -1px 1px #2f2c4f,
        1px 1px 1px #2f2c4f,
        -1px 1px 1px #2f2c4f,
        -1px -1px 1px #2f2c4f;
}
.image_list li .dark,
.image_list li .dark a:visited{
    color: #000d;
    text-shadow: none;
}