#portfolio hr{
    margin: 0;
}
#portfolio{
    color: #95ff21;
    text-shadow: 0 0 10px #95ff21;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt; 
    font-weight: 400;

    overflow: hidden;
    padding-bottom: 64px;
}

#portfolio h1{
    font-weight: 400;
    font-size: 30pt; 
    text-indent: 13%;
    margin: 26pt 0 10pt 0;
}
#portfolio h1::before{
    content:"→";
    padding-right: 20px;
}


.image_list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style-type: none;
    
    background:linear-gradient(to left, #2f2c4f50, #2f2c4f12);
    
    outline: 5px solid #2f2c4f50;
    outline-offset: -5px;
}
.image_list li{
    /*overflow: hidden;*/
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: #1b1a28;
}
.image_list li>div{
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.image_list li img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.image_list li video{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#portfolio .image_list .open_button
{
    border-radius: 8px;
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 5px;
    right: 3px;
    display: block;
    padding: 3px;
    box-shadow: #2d4094  0px 3px;

    background-color: #528ac5;
    background-image: url("../images/OpenWith.png");
    background-position: center;
    background-size: 32px;
    background-repeat: no-repeat;
}

.portfolio_description{
    z-index: 100;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 35px #4aaeff80;
    background-color: #1b1a28;
    contain:none;
}
.portfolio_description:hover{
    transition: all 0.4s;
    width: 103%;
    height: 103%;
}
.portfolio_description p{
    width: 76%;
    /*color: rgba(255, 255, 255, 0.8);*/
    color: #528ac5;
    position: absolute;
    text-align: center;
    text-shadow: none;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 14pt;
    margin: 0 12%;
}
.portfolio_description .text{
    bottom: 5%;
    font-weight: 700;
}
.portfolio_description .title{
    top: 5%;
    font-size: 20pt;
    font-weight: bold;
}

.pixelated{
    image-rendering: pixelated;
}



#catanim{
    position: relative;
    z-index: 10;
    top: -46px;
    left: 10%;
}
#catanim.hidden{
    display: none;
}
#portfolio .catanim{
    position: relative;
    transform: scale(4);
    top: -13px;
    left: 10%;
}
#portfolio .catanim_base{
    position: absolute;
    z-index: 10;
    width: 100%;
}