#resume{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #95ff21;
    text-shadow: 0 0 10px #95ff21;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt; 
}
#resume h1{
    font-size: 30pt; 
}
.resume__section td:first-child{
  width: 300px;
}
.resume__section p{
  text-align:justify;
}