#resume, #contact{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #95ff21;
    text-shadow: 0 0 10px #95ff21;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt; 
}
#resume h1, #contact h1{
    font-size: 30pt; 
}
.resume__section td:first-child{
  width: 300px;
}
.resume__section p{
  text-align:justify;
}

ul>ul{
  margin-left: 25px;
}

.no_ul_mark{
  list-style-type: none;
  margin-left: -25px;
}

#resume .star{
  width: 16px;
  height: 16px;
  background-size: 16px;
  display: inline-block;
}

#resume .star.on{
  background-image: url(../images/StarOnGreen.png);
}

#resume .star.off{
  background-image: url(../images/StarOffGreen.png);
}