#resume, #contact{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    color: #92ff1d;
    text-shadow: 0 0 10px #94ff219d, 1px 0px 1.75px #3d0066, -1px 0px 1.75px #3d0066, 0px 2px 2px #3d0066, 0px -1px 1.75px #3d0066;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.28;
    font-size: 15pt; 
}

#resume ul>li>ul{
  font-size: 13pt; 
  margin-left: 25px;
}
#resume ul>li{
  margin-bottom: 3pt;
  margin-top: 3pt;
}
#resume h3{
  font-weight: 300;
  text-decoration: underline;
  display: inline;
}

.little_font{
  font-size: 13pt; 
}

#resume h2, #contact h2{
    font-size: 30pt; 
    font-weight: 400;
}
#resume h1, #contact h1{
  font-size: 40pt; 
  text-align: center;
  font-weight: 400;
  margin-bottom: 40px;
}
.resume__section img{
  width: 100%;
  height: 70px;
  object-fit:contain;
}
.resume__section td:first-child{
  width: 300px;
}
.resume__section p{
  text-align:justify;
}



.no_ul_mark{
  list-style-type: none;
  margin-left: -25px;
}

#resume .star{
  width: 16px;
  height: 16px;
  background-size: 16px;
  display: inline-block;
}

#resume .star.on{
  background-image: url(../images/StarOnGreen.png);
}

#resume .star.off{
  background-image: url(../images/StarOffGreen.png);
}

#contact a,
#contact a:visited{
  color: #95ff21;
}