
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    scroll-behavior: smooth;
    background-color:#2f2c4f;
    min-height: 100%;
    min-width: 100%;
}


.display-fixed{
    position:fixed;
    opacity: 1;
}
.hidden{
    position:fixed;
    transition: all 1s;
    opacity: 0;
    pointer-events: none;
}
.hidden .spinner{
    display: none;
}
.load-screen{
    pointer-events: none;
    background-color: #2f2c4f;
    width: 100%;
    height: 100%;
    z-index: 1000000;
}

hr{
    height: 4px;
    border-radius: 4px;
    background-color: #95ff21;
    color: #95ff21;
    box-shadow: 0 0 10px #95ff21;
    border: 0px solid #0000;
  
    margin-top: 20px;
    margin-bottom: 20px;
}

.unselect{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}



#github_button{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 2000;

    width: 128px;
    height: 128px;

    background: linear-gradient(135deg, transparent 40%, #191919 40%);
    border-radius: 128px 22px 0px 22px;
}
#github_button::before{
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    background-image: url('../svgs/IconGithubWhite.svg');
    background-repeat: no-repeat;
    background-size: 72px;
    background-position: bottom 6px right 6px;
}







#content.element-show a:nth-child(1)
{
    transition-delay: 0, 0;
}
#content.element-show a:nth-child(2)
{
    transition-delay: 0.15s, 0.15s;
}
#content.element-show a:nth-child(3)
{
    transition-delay: 0.30s, 0.30s;
}
#content.element-show a{
    transform: translate(0 , 0);
    opacity: 1;
    transition-property: transform, opacity;
    transition-duration: 0.38s, 0.38s;
    transition-timing-function: ease-in-out;
}

#content a{
    transform: translate(0, 100%);
    opacity: 0;
    
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    
    width: 10em; 
    height: 2.7em; 

    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;

    margin: auto;
    margin-bottom: 2pt;


    color: azure;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5VMAX;
    text-transform: uppercase;
}



#content a p{


    border-radius: 0.6em;

    background-color: #2f2c4f;

    display: flex; /* Используем flexbox для удобного выравнивания */
    justify-content: center; /* Выравниваем по центру горизонтально */
    align-items: center; /* Выравниваем по центру вертикально */
      
    width: 100%; 
    height: 100%; 

    transition-duration: 0.7s;
}
#content a p:hover{
    background-color: #3f3b6d;

    transition-property: all;
    transition-duration: 0.12s;
    transition-timing-function: ease-in-out;
}



#content a p::before{
    content:"↓";
    /*padding-left: 16px;*/
    position: absolute;
    left: 10pt;
}