
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-color:#2f2c4f;
    min-height: 100%;
    min-width: 100%;
}


.display-fixed{
    position:fixed;
    opacity: 1;
}
.hidden{
    position:fixed;
    transition: all 1s;
    opacity: 0;
}
.hidden .spinner{
    display: none;
}
.load-screen{
    pointer-events: none;
    background-color: #2f2c4f;
    width: 100%;
    height: 100%;
    z-index: 100000;
}